<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyunone.codex.dao.mapper.StorageMapper">

    <select id="selectListCon" resultType="com.leyunone.codex.dao.entry.Storage">
        SELECT s.storage_id, storage_url, storage_name FROM x_storage s 
    </select>
</mapper>
